
.searchform {
    display: flex;
    height: 80px;
    margin-top: 12px;
    justify-content: center;
    padding: 10px;
}

form button {
    padding: 10px;
    border-radius: 10px;
    background-color: burlywood;
}

form input {
    padding: 10px;
}