section img {
    width: 400px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section a {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}