form {
    margin: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form p {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    border-bottom: 2px solid black;
}

form img {
    margin: 5px;
    padding: 5px;
}

form input {
    margin: 5px;
    padding: 5px;
}

form button {
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    background-color: burlywood;
    border-radius: 10px;
}
