
section {
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 25px;
}

section img {
    max-width: 400px;
    min-width: 250px;
    margin: 12px;
}

section h3 {
    margin-top: 5px;
    border-top: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

section a {
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    background-color: burlywood;
    border-radius: 10px;
}